! bcallah@ ~/.Xresources

URxvt.transparent:	true
URxvt.shading:		35
URxvt.background:	black
URxvt.foreground:	#ffbf00
URxvt.xftAntialias:	true
URxvt.font:		xft:Inconsolata:size=24:antialias=true:hinting=true
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.loginShell:	true
