! bcallah@ ~/.Xresources

URxvt.depth:		32
URxvt.buffered:		true
URxvt.transparent:	false
URxvt.fading:		2%
URxvt.fadeColor:	grey
URxvt.shading:		75
URxvt.background:	rgba:0000/0000/0000/dddd
URxvt.foreground:	white
URxvt.xftAntialias:	true
URxvt.font:		xft:Inconsolata:size=10:antialias=true:hinting=true
URxvt.scrollBar:	false
URxvt.scrollBar_right:	false
URxvt.loginShell:	true
